<a {{bind-attr class=":chosen-single :chosen-display view.allowSingleDeselect:chosen-single-with-deselect"}}>
  {{#if view.selected}}
    <span>{{ember-get view.selected view.optionLabel '-'}}</span>
    {{#if view.allowSingleDeselect}}
      <abbr class="search-choice-close" {{action "remove" target="view"}}></abbr>
    {{/if}}
  {{else}}
    <span>{{view.placeholder}}</span>
  {{/if}}
  <div><b></b></div>
</a>
<div class='chosen-drop'>
  <div class="chosen-search">
    {{input type='text' class='search' valueBinding='view.filter' placeholder=i18nPlaceholder}}
  </div>
  <ul class='chosen-results'>
  {{#if view.optionGroup}}
    {{#each group in view.groupedContent}}
      <li class='group-result'>{{group.group}}</li>
      {{view 'inputs/selektor-items' content=group.list}}
    {{else}}
      <li class='no-results'>{{t 'emptySearch' view}}</li>
    {{/each}}
  {{else}}
    {{view 'inputs/selektor-items' content=view.filteredContent}}
  {{/if}}
  </ul>
  {{#if view.createAction}}
    <div class="chosen-create">
      {{input value=view.createName classBinding='createError:required'}} <button class='button success' {{action 'sendCreate' target='view'}}>{{ss-icon type='plus'}}</button>
    </div>
  {{/if}}
</div>
